body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  background-image: url('img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh; 
  padding: 20px;   
}

.container{
width: 100%;
max-width: 700px;
padding: 25px 30px; 
background-color: #1b1b1ba1;
border-radius: 8px;
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.411);
text-align: left;
}

.header {
  text-align: center;
  margin-bottom: 25px;
}

#title {
  margin-bottom: 0.5rem;
  color: #ffffff;
  font-size: 1.3rem;
}

#description {
  font-size: 1rem;
  color: #ffffff;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label,
.form-group > p {
  display: block;
  margin-bottom: 0.6rem;
  font-weight: bold;
  color: #ffffff;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 0.95rem;
  resize: none;
}

.form-group select {
  padding-right: 2.5em; /* Espaço para a seta */
  background-color: white;
}

.form-group input[type="radio"],
.form-group input[type="checkbox"] {
  margin-right: 8px;
  vertical-align: middle;
}

.form-group div > label {
    font-weight: normal;
    display: inline;
    color: #ffffff;
}

.form-group div {
    margin-bottom: 0.5rem;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 12px 15px;
  background-color: #fe2dbc;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
}